.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
.header-inner ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.header-inner .logo {
  text-decoration: underline;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bolder;
}

.header-inner ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 4px 10px;
  border-radius: 3px;
  transition: all 0.2s ease-out;
}
.header-inner ul li a.active {
  background-color: #fff;
  color: black;
}
