.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  overflow-x: hidden;
}
header {
  min-height: 80px;
  background-color: black;
  color: #fff;
  flex: 0 1 auto;
}
main {
  flex: 1 0 auto;
}
footer {
  flex: 0 1 auto;

  min-height: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
}
